* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******* FROM *********/
.form-banner img {
  height: 100%;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form-control {
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px !important;
  cursor: pointer;
}

/****** LOADER *******/
.laoder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.loader {
  width: 48px;
  height: 48px;
  border: 6px dashed #fff;
  border-bottom-color: #00fffb;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* NAV */
.navbar-nav {
  font-size: 18px;
}
.navbar-nav .nav-item {
  padding-left: 13px;
}
.home-con {
  margin-top: 67px;
}

ul {
  list-style: square outside none;
}

.font-sofias{
  font-family: "Sofia", sans-serif;
}
.font-Audiowide{
  font-family: "Audiowide", sans-serif;
}
.font-Lato{
  font-family: "Lato", sans-serif;
}
.font-playfair{
  font-family: "Playfair", sans-serif;
}


@media screen and (max-width: 768px) {
  .home-con {
    margin-top: 130px;
  }
}
@media screen and (max-width: 480px) {
  .home-con {
    margin-top: 110px;
  }
}
