 @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap'); 
*{
    box-sizing: border-box;
}
:root{
    --primary-color:#4B56D2;
    --second-color:#472183;
}
body{
    background-color: var(--primary-color);
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0;

}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--second-color);
    position: relative;
    overflow: hidden;
}
.movie img{
    width: 100%;
}
.movie-info{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.5px;
    padding: 0.5rem 1rem 1rem;
}
.movie-info{
    margin-top:0 ;
}
.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;

}
.movie-info span.green{
    
    color: lightgreen;
}
.movie-info span.yellow{
    color: yellow;
}
.movie-info span.red{
    color: red;
}
.overview{
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    padding: 1rem;
    max-height: 100%;
    background-color: #eee;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;

}
.movie:hover .overview{
    transform: translateY(0);
}

#tags{
width: 80%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 10px auto;

}
.tag{
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius:50px ;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 150ms;
}
.tag:hover{
    background-color: rgb(184, 129, 28);
}
.tag.highlight{
    background-color: red;
}
.noresul{
    color: white;
}
.pagination{
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: white;

}
.page{
    padding: 20px;
    cursor: pointer;

}
.page.disabled{
    cursor: not-allowed;
    color: gray;
}
.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}
.know-more{
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 10px 15px;
    margin-top:5px ;
    transition: 100ms;
}
.know-more:hover{
    cursor: pointer;
    background-color: rgb(194, 136, 28);
}
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .embed.hide{
    display: none;
  }
  .embed.show{
    display: inline-block;

  }
  .arrow{
    position: absolute;
  }
  .arrow.left-arrow{
    top:50%;
    left: 5%;
    transform: translateY(-50%);
  }
  .arrow.right-arrow{
    top: 50%;
    transform: translateY(-50%);
   right: 5%;
  }
  .dots .dot{
    padding: 5px 15px;
    border-radius: 50%;
    border: 5px solid var(--second-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    
    
  }
  .dots{
    margin-top: 30px;
  }
  .dots .dot.active{
    border-color: orange;
  }