body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app h1{
  text-align: center;
  background-color: rgb(0, 36, 36);
  color: white;
  padding: 33px;
  margin-top: 0px;
}
.container{
  width: 600px;
  min-height: 100px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0px 4px 4px 4px rgb(226, 226, 226);
  padding: 22px;
  
}
.container .datas{
  margin-left: 22px;
}
.searchBar{
  display: flex;
  gap: 6px;
  justify-content: center;
 /* padding: 22px; */
}
.searchBar input{
  width: 400px;
  padding: 11px;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  background-color: rgb(237, 237, 238);

}
.searchBar button{
  width: 90px;
  background-color: orangered;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.datas button{
  padding: 8px;
  background-color: rgb(1, 49, 49);
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 11px;
  cursor: pointer;

}
.datas p{
  font-size: 20px;
}