.parameter{
    color: #6e7ccc;
    font-size: larger;
}

.parameter::after{
    position: absolute;
    content: "";
    top: 7px;
    left: 59px;
    right: 0;
    margin: 0 auto 0;
    height: 100%;
    width: 100%;
    background: url(https://html.ditsolution.net/cryptobit/trading/assets/images/about-1.png);
    background-repeat: no-repeat;
}

.User-Right{
    overflow-y: hidden;
}

.UserTagLine{
    font-size: 3vw!important;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    overflow-y: hidden !important;
}