.Review-Section{
    background-color: rgb(24, 12, 48);
}

.post{
    color: #6e7ccc;
    font-size: larger;
}
.Rating-Block{
    background: #ffffff0a;
    display: flex;
    color: white;
    margin-right: 8px;
    flex-direction: column;
    /* align-items: center; */
    width: 1vw!important;
    border-radius: 15px;
    padding: 25px;
    transition: all ease .3s;
}

.Rating-Block:hover{
    background-color: #ffffff17;
}

.User-Logo{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    margin-right: 1vw;
    margin-top: 0.2vw;
}