#fromCurrency {
  width: 82px;
  height: 45px;
  padding: 6px 12px;
  font-size: 1.1rem;
  text-align: center;
  margin: 0 2px;
  background-color: #495057;
  color: white;
  border-radius: 5px;
}

#toCurrency {
  width: 82px;
  height: 45px;
  padding: 6px 12px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 2px;
  background-color: #495057;
  color: white;
  border-radius: 5px;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#fromCurrency:hover {
  background-color: #79797a;
}

#toCurrency:hover {
  background-color: #79797a;
}

#finalResult {
  display: none;
}

.leadText {
  font-size: 1.55rem;
  font-weight: 400;
}

.Footer-line{
  margin-left: 43%;

}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to bottom, var(--background_color_start), var(--background_color_end));
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text_color);
  line-height: 1.6;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  margin: 0;
  transition: 0.2s linear;

}

body.dark {
  background-color: #292c35;
}

/* #9b59b6 */

body.dark h1,
body.dark p,
body.dark .support a {
  color: #fff;
}

body.dark .jumbotron{
  background-color: #001d2bc2
}

body.dark #warning {
  color: rgb(255, 0, 0)
}

.checkbox {
  opacity: 0;
  position: absolute;
}


.checkbox-label {
  background-color: #3c3e3e;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}

.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
}