*{
    margin: 0px;
    padding: 0px;
 
  }
      html {
            scroll-behavior: smooth;
          }
section {  
            font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Gothic A1', sans-serif;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;
           
            background-color: black;

          }


    

/* video */

.vid{ display: flex; align-items: center; justify-content: center; 
}
    .txt{color: rgb(255, 255, 255); font-size: 50px; z-index: 2;  padding-left: 30px;  display: flex;
     justify-self:center; align-items: center; flex-direction: column;}
    .nikeair{font-weight:lighter;}
   video{height: 800px; width: 1800px; z-index: 2;}
   .nikeair{font-size: 30px;} 
   .ads {color: white; }
   .ads h1 {padding-left: 27%; padding-top: 100px; }

   /* shoes spec */
   
.second-page{
display: flex;
align-items: center;
justify-content: center;

margin-top: 70px;
}
.second-page-down{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 1px;
}

.specs{
    padding: 13px;
}
.specs p{
    font-size: 14px;

}
.batttery-left{
    margin-left: -30px;
}

.shoeinfoimg{height: 700px;}

.shoesheadname{font-size: 100px;}
.img1 img { height: 300px; border-radius: 50px; }
.img2 img { height: 300px; border-radius: 50px; }
.img3 img { height: 300px; border-radius: 50px; }
.img4 img { height: 500px;  border-radius: 50px;}
.nikeairimg{display: flex; align-items: center; justify-content: center; }
.nikeimgdown{display: flex; align-items: center; justify-content: center; gap: 40px;}
.comingsoon{color: white; font-size: 90px; padding-left: 400px ;}
#newarrival{padding-left: 46%; color: red;}
 