
.form{
    /* border-style: solid; */
    box-sizing: border-box;

    background-color: ghostwhite;
}

.row{
    position: relative;
    left:1vw;
    width: 74.5vw;
    /* border-style: solid; */
    margin-bottom: 20px;
}

.ques-no{
    background-color: aqua;
    width: 100%;  

}
.ques-no button{
    /* width: 74.5vw; */

    border-radius: 10px;
    border-color: lightblue;
    /* display: flex;
    justify-content: center; */
    background-color: lightblue;
    width: 60px;
    margin: 10px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 30px;
    border-style: solid;
    border-color: purple;
    border-width:10px 0px 0px 0px ;
    border-radius: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  form h3{
    width: 100px;
    border-radius: 10px;
  }
@media screen and (min-width:769px){
    .main-content{
        margin-top: 20px;
        /* box-sizing: border-box; */
        /* border-style: solid; */
        margin-left:300px;
        margin-right: 30px;
    }
}
@media screen and (max-width:768px){
    .main-content{
        /* box-sizing: border-box; */
        /* border-style: solid; */
        margin-left:5vw;
        margin-right: 5vw;
    }
}
div div label {
    font-size: 20px;
}
.btn{
    height: 60px;
    width: 150px;
    border-radius: 100x;
    font-size: 25px;
    margin-bottom: 20px;
}
.btn:hover {
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
  }
div h1{
    color: white;
}

