/*Settings Page --CSS*/
body{
    margin: 0;
}

/*-TOP--*/

#top{
    background-color: darkcyan;
}

/*navigation*/

.nav-item{
    padding-right: 40px;
    color:#fad141;
}

/*Settings*/

.main-settings{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.pl-name{
    padding-bottom: 30px;
}

.cn-head{
    font-size: 40px;
    color: firebrick;
}
.cn-names{
    padding-top: 25px;
}

.btn{
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    float: right;
    
}

.btn:after {
    content: "";
    background: yellow;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    
  }

  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
    
  }




  /*Footer*/
  #footer{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #fb4c85;
    text-align: center;
}

.link-icon{
    color: black;
    font-size: 25px;
    padding-right: 10px;
}