.main-content{
    margin-left: 35vw;
    margin-right: 5vw;
}
.div1{
    background-color: white;
    height: max-content;
    width:60vw;
    padding:5vw;
    padding-top: 3vw;
    padding-right: 0.5vw;
}
.input{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 30px;
    float: left;
}
.input0{
    display: flex;
}
h5 , .h4{
    color: blue;
}

.content-1{
    margin-left:8vw;
}
button{
    margin-left: 35vw;
    background-color: black;
}