.wrapp {
    padding-top: 150px;
    padding-bottom: 50px;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-feature-settings: 'pnum' on, 'lnum' on;
    --pr-color: white;
    --second-color: #0a0a0a;
    --cubicbz: cubic-bezier(.9, 0, .1, 1);
    --fz-big: 60px;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

.white{
    color: white !important;
}

.content {
    width: 100%;
    padding: 0 70px;
}

.char {
    display: inline-block;
}

/* Paralax Effect On GSAP **********************************/
/* header ********/
.header {
    position: relative;
    display: flex;
    padding: 0 70px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header__marq {
    position: absolute;
    bottom: 0;
    left: 0;
}

.header__marq {
    width: 100%;
    height: auto;
    background: #171717;
    overflow: hidden;
}

.header__marq-wrapp {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px 70px;
}

.header__marq-txt {
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
    padding-right: 55px;
    margin-right: 15px;
    text-transform: uppercase;
    color: var(--pr-color);
    color: #9e9e9e;
    font-size: 35px;
}

.header__marq-star {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
}

.header__marq-star img {
    display: block;
    width: 100%;
    height: 100%;
}

.title {
    position: relative;
    margin: 0;
    font-size: 85px;
    text-align: center;
    color: var(--pr-color);
    text-transform: uppercase;
    mix-blend-mode: difference;
    z-index: 2;
}

.title_paralax {
    display: inline-block;
    will-change: transform;
}

.title .stroke {
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.header__img {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    right: 100px;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    overflow: hidden;
}

.header__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title {
    position: relative;
    margin: 0;
    margin-bottom: 60px;
    line-height: .8;
    font-size: 70px;
    text-align: center;
    color: var(--pr-color);
    text-transform: uppercase;
}

.section-title .stroke {
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.section-title__square {
    position: absolute;
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 1px solid #4b4b4b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* about ********/
.about .section-title {
    text-align: left;
}

.about__wrapp {
    display: flex;
    justify-content: space-between;
}

.about__img,
.about__txt {
    width: calc(50% - 35px);
    height: auto;
}

.about__txt {
    padding-right: 70px;
}

.about__p {
    line-height: 1.4;
    font-size: 20px;
    color: #4b4b4b;
}

.about__img {
    height: 100vh;
    overflow: hidden;
}

.about__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* benefits ********/
.benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: auto;
}

.benefits__item {
    list-style: none;
    width: calc(33.33% - 27px);
}

.benefits__num {
    display: inline-block;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr-color);
}

.benefits__p {
    font-size: 20px;
    color: #4b4b4b;
}

/* work ********/
.work {
    padding-top: 150px;
}

.work__wrapp {
    display: flex;
    flex-wrap: wrap;
    row-gap: 120px;
    justify-content: space-between;
    padding: 0 120px;
}

.work__item {
    position: relative;
    width: calc(50% - 60px);
    height: 100vh;
}

.work__item-num {
    position: absolute;
    display: inline-block;
    font-size: 70px;
    color: var(--pr-color);
    mix-blend-mode: difference;
    z-index: 2;
}

.work__item-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.work__item-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* serv ********/
.serv__list {
    width: 100%;
}

.serv__item__portfolio {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #2f2e2e;
    padding: 10px 0;
}

.serv__item-arrow {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 55px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.serv__item-arrow img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: rotate(180deg);
}

.serv__item-txt {
    font-size: 50px;
    color: #4b4b4b;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
}

.serv__item-text {
    display: inline-block;
    color: #4b4b4b; /* Initial text color */
    background: linear-gradient(to right, white 50%, #4b4b4b 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease;
}


/* footer ********/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.footer__div {
    font-size: 70px;
    letter-spacing: 15px;
    color: var(--pr-color);
    text-transform: uppercase;
}

.footer__div span {
    display: inline-block;
}