*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.side-bar{
    height: 100vh !important;
    border-radius: 5px;
    background-color: rgb(20, 243, 183);
    box-shadow: 0 0 2px 2px rgb(23, 160, 219);
}
.logo h5{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
}