body {
  overflow: hidden;
  background-color: #bda187;
    display: flex;
    justify-content: center;
    font-family: "Clear Sans";
  }
  
  h1 {
    font-size: 80px;
    line-height: 0.7;
    color: #776E65;
    margin: 0px;
  }
  
   div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #EEE4DA;
    color: #afa192;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
  }
  .group {
    width: 468px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: "Clear Sans", "Helvetica Neue";
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #faf8ef;
  }
  
  .values{
    text-align: center;
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #FFFFFF;
  }
  
  #value_2 {
    font-size: 30px;
  }
  .value_1 {
    font-size: 16px;
  }
#result{
  font-size: 1.7rem;
   background-color: #faf8ef;
}

.alpha{
  padding: 2rem;
  background-color: #faf8ef;
}