@media (max-width:750px){
    body{
        background-color: pink;
    }
}
@media(min-width:751px){
    body{
        padding-left: 18%;
        padding-right: 18%;
        background-color: pink;
    }
}

header{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    color: pink;
}
header > img{
    width: 90%;
}
.form{
    font-family: Arial, Helvetica, sans-serif;
    background-color: purple;
    


}
.we label, .we input{
    padding: 2% 0% 1% 0%;
    margin-left: 5%;
    display:block; /*to let every label and input occupy whole parent element space.
    this will not work only by simply typing .we
    because if we will use we the space will be occupied after every element is show
    that is why if we will use display:block in we we will get all elements in same line */
}
.we label,.select label{
    color: gold;
    font-size:130%;

}
.we input {
    
    font-size: small;
    padding: 1%;/*space between content and border i.e. what is written inside the input and border of input*/
    width: 90%;
    box-sizing: border-box; /* since i am applying 100% width if i will use not use box-sizing thw with of the child i.e. input
    will look larger than the parent i.e. form because of automatic padding by the browser*/
}

.select{
    margin-right:5%;
    margin-left: 5%;
    margin-top: 3%; /* cant give in .class because ee is parent and .class on will perform according to parent so 
    in case of .class the element will remain in same place*/ 
}
@media (min-width:700px) {
    .select{
        display: grid;
        grid-template-columns: 32.3% 30.2% 34.6%; 
    }
    .select select{
        padding: 2%;
        font-size: 100%;
        margin-right:5%;
    }
    .radio div{
        color: white;
        font-size: 120%;
    }
    .radio{
        display: grid;
        grid-template-columns: 25.5% 30.5% 25% 20%;
    }
    .area{
        color: white;
        margin-left: 5%;
        margin-top: 1%;
        font-size: 130%;
        display: grid;
        grid-template-columns: 23% 23% 34% 20%;
    }
    .area input{
        float: left;
        margin-top: 1%;
    }
}
@media (max-width:699px) {
    .select select{
        text-align: center;
        font-size: 90%;
        float:right; 
        margin-right: 40%;
    }
    .radio div{
        color: white;
        font-size: 110%;
        margin-right: 8%;
    }
    .radio div input {
        margin-right: 65%;
        float: right;
    } 
    .area{
        color: white;
        margin-left: 5%;
        margin-top: 1%;
        font-size: 130%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .area input{
        float: left;
        margin-top: 1%;
    }

}


.next{
    color: gold;
    font-size:130%;
    margin-left: 5%;
    display: block;
    margin-top: 3%

}
.radio{
    margin-left: 5%;
    margin-top: 1%;
}
.we textarea{
    margin-left: 5%;
    resize: none;
    width: 90%;

}
.submit{
    margin-top: 5%;
}
.submit button{
    background-color:pink;
    border-color: purple;
    color: purple;
    display: block;
    margin: auto;
    height: 40%;
    font-size:130%;
    padding: 1% 2% 1% 2%;
}












