* {
  margin: 0;
  padding: 0;
}
:root {
  --font-primary: "Bebas Neue", cursive;
  --font-secondary: "Inter", sans-serif;
  --color-dark-800: #212529;
  --color-gray-400: #dddddd;
  --base-transition: 0.4s ease;
  --radius-10: 10px;
  --color-purple-600: #7c27ce;
  --color-light-100: #fff;
}


.firstPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  transition: var(--base-transition);
}
.page-heading {
  font-family: var(--font-secondary);
  font-size: 4rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-dark-800);
}

.input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label,
input {
  font-family: var(--font-secondary);
}

label {
  margin-left: 20%;
}


.lift-sim_input {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: var(--radius-10);
  margin-top: 5px;
  min-width: 250px;
  border: 2px solid var(--color-gray-400);
  transition: var(--base-transition);
}

.lift-sim_input:focus {
  border-color: var(--color-dark-800);
}

.createLiftFloorButton {
  margin-top: 1rem;
  padding: 5px 10px;
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  border: 2px solid var(--color-gray-400);
  border-radius: var(--radius-10);
  cursor: pointer;
  transition: var(--base-transition);
}


.buttonLift {
  display: flex;
}

.button {
  width: 50px;
  display: flex;
  flex-direction: column;
  margin: 11px 18px;
}

.button button {
  margin: 2px;
}
.up {
  font-size: 13px;
  border-radius: 4px;
  transition-duration: 0.4s;
  background-color: white;
  color: var(--color-dark-800);
}
.down {
  font-size: 13px;
  border-radius: 4px;
  transition-duration: 0.4s;
  background-color: white;
  color: var(--color-dark-800);
}
.up:hover {
  background-color: black;
  color: white;
}
.down:hover {
  background-color: black;
  color: white;
}

.mainLift {
  display: flex;
  /* margin-left: 20px; */
  padding-left: 2rem;
}
.lift {
  width: 50px;
  height: 60px;
  background-color: var(--color-gray-400);
  border: 2px solid black;
  margin-right: 5px;
  transition-property: transform;
  transition-timing-function: ease-in;
}

.gates {
  display: flex;
}
.gate1,
.gate2 {
  width: 25px;
  height: 60px;
  margin: 1px;
  background-color: var(--color-dark-800);
  transition: width 2.5s ease-in-out;
}
.gate1-move {
  transform: translateX(-100%);
}

.gate2-move {
  transform: translateX(100%);
}

.secondPage {
  display: none;
  margin: 4% auto;
}
.hrfloorName {
  display: flex;
  flex-direction: row;
  margin: 3px;
}
hr {
  flex-grow: 1;
  height: 1px;
  border-top: 2px solid black;
}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
}

.goToFirstPage {
  font-size: 18x;
  margin: 5px 0 10px 3px;
  background-color: var(--color-dark-800);
  color: white;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

@media (width>500px) {
  .lift {
    margin-right: 55px;
  }
  .mainLift {
    margin-left: 50px;
  }
}
