html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(157, 138, 114), #fff); /* Adjust colors as needed */
}
.container{
  margin: auto;
  width: 50%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  

}
.result-message {
  font-size: 32pt;
  text-align: center;
  margin-top: 20px;
}
.container div{
  padding: 20px;
}
.title {
  font-size: 24px;
  text-align: center;
  color: #333; }

.restart{
  border: none;
  border-radius: 3px;
  width: 70px;
  height: 30px;
  background-color: rgb(0, 191, 255);
}
