html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, rgb(157, 138, 114), #fff); /* Adjust colors as needed */
}
.container{
  margin: auto;
  width: 50%;
  padding: 30px;
  

}
.result-message {
  font-size: 32pt;
  text-align: center;
  margin-top: 20px;
}
.container div{
  padding: 20px;
}
.title {
  font-size: 24px;
  text-align: center;
  color: #333; }
