* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #081429;
    overflow: hidden;
}

#title {
    color: white;
    background-color: red;
    text-align: center;
    font-size: 40px;
    font-family: cursive;

}

#game {
    width: 50%;
    height: 500px;
    border: 5px solid white;
    background-color: #2ECC71;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    overflow: hidden;
}

#character {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 100px;
    left: 190px;
    z-index: 1000000;
}

.block {
    width: 100%;
    height: 20px;
    background-color: gold;
    position: relative;
    top: 100px;
    margin-top: -20px;

}

.hole {
    width: 40px;
    height: 20px;
    background-color: #2ECC71;
    position: relative;
    top: 100px;
    margin-top: -20px;

}

#scoreContainer {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    position: relative;
}

#replay {
    display: none;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}