.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}
.cont{
  margin-top: 60px;
}
header div, header h1{
  display: flex;
  flex-direction: column;
  max-width: 460px;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0px auto;
  padding: 1%;
  background-color: white;
}
.cont h1{
  background-color: #1b1096;
  padding: 1%;
  color: white;
}
.show{
  background-color: #1b1096;
  width: 65px;
  padding: 2%;
  color: white;
  border-radius: 20px;
}
