body{
    background-color: antiquewhite;
}
*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    bottom: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons i{
    cursor: pointer;
    margin-top: 14px;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
    /* text-align: center; */
}
.songItemContainer{
    margin-top: 74px;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}
.timestamp{
    margin: 0px 23px;

}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.5s;
}