body {
    padding: 0;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(15, 6, 78);
    position: relative;
}

.loading {
    font-size: 2rem;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

#loading.hidden {
    display: none;
}


h1 {
    font-size: 2.5rem;
    color: aliceblue;
}

.section {
    text-align: center;
}

.Click {
    font-size: 15rem;
    cursor: pointer;
    border: none;
    background: rgb(233, 200, 200);
    border-radius: 10px;
    padding: 15px;
    transition: filter 0.2s ease-in-out;

}

.Click:hover {
    filter: grayscale(0);
}

.emoji-name {
    font-weight: 600;
    font-size: 3rem;
    color: white;
}



.new-Emoji {
    font-size: 2rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}


.new-Emoji:hover {

    background-color: darkred;
    color: white;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}