*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(60deg,#00a2ff,#c813ff);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel{
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50rem;
    height: auto;
    padding: 50px 50px 50px 50px;
}

.panel>h1{
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.panel>hr{
    margin-bottom: 20px;
}

.panel .question{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.panel .options{
    display: grid;
    grid-gap: 15px;
    margin-bottom: 30px;
}

#btn{
    background: linear-gradient(60deg,#00a2ff,#c813ff);
    border: none;
    padding: 15px 50px;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-weight: 600;
    transition: background 0.5s ease-in;
}

#btn:hover{
    background: linear-gradient(120deg,#00a2ff,#c813ff);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}