@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-weight: 700;
    font-size: 1.5em;
    color: 	#5F9EA0;
    user-select: none;
}


.navigation a {
    position: relative;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    transform-origin: right;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(8, 8, 8);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s ease;
}

.navigation .btnLogin-popup:hover {
    background: rgb(49, 48, 48);
    color: #cac5c5;
}
.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparnt;
    border: 2px solid rgb(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login { 
    /*display: none;*/
   transition: transform .18s ease;
    transform: translateX(0);
}


.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register { 
    /*display: none;*/
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {

    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #060606;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #dbdfe3;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
   color: #d5dee5;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label, 
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;


}

.input-box .icon {
   position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #0f1112;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #cccccd;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color:#e7ebee94;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}

.login-register {
    font-size: .9em;
    color: #c7c5c5;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    /* hover line not working*/
    text-decoration: underline;
}




.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right:20px ;
    
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}


/* Responsive CSS */
@media screen and (max-width: 768px) {
    body {
        background-size: auto;
        background: url('background2.png') no-repeat;
    }

    header {
        padding: 10px;
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        display: none;
    }
    /*.navigation {
          Hide navigation links on small screens 
    }
*/
    .hamburger {
        display: flex; /* Show hamburger menu */
        margin-right: 20px;
        
    }

    .navigation.active {
        display: flex; /* Show navigation links when active */
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: rgb(15, 14, 14);
        z-index: 100;
        padding: 10px;
        
    }

    .navigation.active a {
        margin: 10px 0;
        color: #fff;
    }

    .navigation.active .btnLogin-popup {
        margin: 20px 0;
    }


    .navigation a {
        margin: 5px 0;
    }

    .wrapper {
        width: 90%;
        max-width: 350px;
        transform: scale(1);
        height: auto;
    }

    .form-box h2 {
        font-size: 1.5em;
    }

    .input-box {
        margin: 10px 0;
    }

    .input-box input {
        font-size: 0.9em;
    }

    .remember-forgot {
        font-size: 0.8em;
        margin: 5px 0;
    }

    .remember-forgot label {
        font-size: 0.8em;
    }

    .btn {
        height: 40px;
        font-size: 0.9em;
        
    }

    .login-register {
        font-size: 0.8em;
        margin: 10px 0;
        color:#fff ;
    }
}